.experience {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 2px 3px 7px #333;
  width: 90%;
  border-radius: 1rem;
}

.badge {
  background-color: var(--primary);
  color: white;
  width: auto;
  height: 1.8rem;
  font-size: 14px;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  border-radius: 6rem;
  margin-left: 1.5rem;
}

.tech {
  background-color: rgba(104, 104, 104, 0.1);
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 3rem;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: baseline;
}

@media (max-width: 768px) {
  .experience {
    padding: 1rem;
  }

  .date {
    justify-content: space-around;
    align-items: flex-start;
  }

  .badge {
    font-size: 10px;
    padding: 0.4rem;
    margin-left: 0.2rem;
  }
}
