.container {
  background-color: var(--surface-strong);
  color: var(--text);
  width: 20%;
  min-height: 100vmax;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    min-height: 25vmax;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
  }
}
