.container {
  background-color: #222;
  color: whitesmoke;
  width: 20%;
  min-height: 100vmax;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    min-height: 25vmax;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
  }
}
