.container {
  background-color: var(--bg);
  color: var(--text);
  width: 20%;
  min-height: calc(100vh - 125px);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--hairline);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
}
