/* style générique */
.button {
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  border: 2px solid var(--primary);
  background: var(--bg);
  color: var(--text-on-light);
  font-weight: 500;
  transition: all 0.2s ease;
  position: relative;
}

/* état au survol */
.button:hover {
  background: var(--primary);
  color: var(--text-on-dark);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

/* bouton actif */
.button[data-active="true"] {
  background: var(--primary);
  color: var(--text-on-dark);
  border-color: var(--primary);
}
