.bodyWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container {
  background-color: whitesmoke;
  color: #222;
  width: 80%;
  min-height: 100vmax;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.buttonWrapper {
  display: flex;
  gap: 2rem;
  margin: 3rem;
}

.contentWrapper {
  margin-left: 3rem;
}

@media (max-width: 768px) {
  .bodyWrapper {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }

  .container p {
    padding-right: 1.5rem;
  }

  .buttonWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
